@use "sass:math";
@use "sass:color";

@import "lib/stepper";

@mixin generate-colors($total-colors, $text-color, $bg-color, $is_light_background: true) {
  $card-index: 0;
  $index: 0;

  // Hue delta for each card.
  $hue-delta: math.div(360, $total-colors + 1);

  @for $card-index from 1 through $total-colors {
    &:nth-child(#{$card-index}) {
      $inner: color.adjust($bg-color, $hue: $hue-delta * ($card-index - 1));
      $outer: $inner;
      $border: $inner;

      @debug '---------- #{$inner} [#{$card-index}] ----------';

      // Normalise given colour from the top.
      $inner: color-stepper($inner, $text-color, $ratio: 7, $autodark: true);
      // Calculate outer colour.
      //$outer: color-stepper($inner, $outer , $ratio: $inner-to-outer-ratio, $autodark: true);
      $outer: color-stepper($inner, $outer , $ratio: $inner-to-outer-ratio);
      // Calculate border colour as a contrast to the inner colour.
      $border: color-stepper($inner, $outer, $ratio: 7, $autodark: true);

      background-color: $outer;

      .inner {
        background-color: $inner;
        border-color: $border;
        color: $text-color;
      }

      @include show-values($outer, $border, $inner, $text-color);

      // Set new inner colour to the corrected value so that the next card can
      // use it.
      @if $card-index == 1 {
        $bg-color: $inner;
      }
    }
  }
}

@mixin show-values($o, $b, $i, $t) {
  &:after {
    color: #000000;
    content: 'O: ' + $o;
    font-family: monospace;
    left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    background-color: white;
    border: solid 2px black;
    border-bottom: none;
    margin-top: 10px;
  }

  $ot: color-contrast-ratio($o, $t);
  @if $ot >= 7 {
    $ot: $ot + ' OK';
  }

  $it: color-contrast-ratio($i, $t);
  @if $it >= 7 {
    $it: $it + ' OK';
  }

  $contrast: 'O-B: ' + color-contrast-ratio($o, $b);
  $contrast: $contrast + '\a I-B: ' + color-contrast-ratio($b, $i);
  $contrast: $contrast + '\a O-I: ' + color-contrast-ratio($o, $i);
  $contrast: $contrast + '\a O-T: ' + $ot;
  $contrast: $contrast + '\a I-T: ' + $it;

  .inner {
    &:first-child {
      &:after {
        color: #000000;
        content: 'B: ' + $b + '\a I: ' + $i + '\a' + $contrast;
        font-family: monospace;
        left: 0;
        position: absolute;
        text-align: left;
        top: 111%;
        white-space: pre;
        width: 100%;
        background-color: white;
        border: solid 2px black;
        border-top: none;
      }
    }
  }
}
